.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.modal-header {
    display:flex;
    justify-content: right;
    padding-top: 2rem;
}

.modal-wrapper {
    background-color: #FFF;
    border-radius: 0px;
}

.modal-wrapper form {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    padding: 3rem 5rem;
}

.modal-wrapper form p {
    color: #DC3545;
}

.modal-form-left-half {
    padding-left: 3rem;
}

.modal-form-right-half {
    padding-right: 3rem;
}

.modal-wrapper input {
    border: none;
    background-color: #F0F2F5;
    border-radius: 10px;
    padding: .5rem 2rem;
    margin-top: 1rem;
}

.modal-wrapper input:focus {
    outline: none;
}

.modal-wrapper input::placeholder {
    text-align: right;
}

.modal-footer button{
    border: none;
    padding: .5rem 1.4rem;
    border-radius: 5px;
}

.modal-footer .submit {
    background-color: #DC3545;
    color: #FFF;
}

.modal-footer .cancel {
    font-weight: bold;
}