.success-container {
    position: fixed;
    top: 0;
    height: 100vh;
    background: rgba(0, 0,  0, 0.6);
    z-index: 1001;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.success-wrapper {
    background-color: #FFF;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 9rem;
    border-radius: 5px;
}

.success-message {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.5rem;
}

.success-message-icon {
    color: green;
    padding-bottom: 1rem;
}