.permission-form {
    background-color: #FFF;
    padding: 1rem;
    text-align: right;
}

.permission-form .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}


.permission-form-main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.permission-form a {
    color: #fff;
}

.permission-form-main p {
    color: #DC3545;
    text-align: center;
    font-weight: bold;
}

.permission-form-main input {
    margin-bottom: 1.5rem;
    margin-top: .5rem;
    border: none;
    border-bottom: 2px solid #F0F2F5;
    padding: .5rem 3rem;
    text-align: right;
    background-color: #F0F2F5;
    border-radius: 5px;
}

.permission-form-main input:focus {
    outline: none;
    background-color: #F0F2F5;
}

.permission-form-main input::placeholder {
    text-align: right;
}

.permission-form-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}
.permission-form-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

.permission-form-btns-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.permission-form-btns-right {
    flex: 1;
}

.permission-form-btns-left {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    flex: 1;
}

.permission-form-btns-left button {
    border: none;
    margin-left: 2rem;
    margin-top: 2rem;
    padding: .5rem 1.5rem;
    background-color: #FFF;
}

.permission-form-btns-left .submit-btn {
    background-color: #DC3545;
    color: #FFF;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: .5rem 1.5rem;
}

@media only screen and (max-width: 650px) {
    .permission-form-main input {
        padding: .5rem 1rem;
    }

    .permission-form-btns-right {
        display: none;
    }

    .permission-form-btns-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .permission-form-btns-left .submit-btn {
        padding: .5rem .8rem;
    }

    .permission-form h3 {
        font-size: 1.1rem;
    }

    .permission-form {
        border-radius: 5px;
    }
  }
