
.success-notification {
    padding: 1rem 5rem 0 5rem;
    color: #FFF;
    background-color: 	#42ba96;
    position: fixed;
    top: 10%;
    left: 40%;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    z-index: 1000;
}

.none {
    display: none;
}

.success-notification p {
    padding: 0 2rem;
}