.employee-main {
    display: flex;
    flex-direction: row;
}

.employee-wrapper {
    margin: 3rem 1rem 3rem;
    padding: 1rem 1rem;
    border-radius: 5px;
    width: 100%;
    padding: 1rem;
    background-color: #F0F2F5;
}

.item-card-table {
    max-width: 98%;
}

.show {
    display: block;
}


@media only screen and (max-width: 650px) {

    body {
        background-color: #F0F2F5;
    }

    .employee-main {
        background-color: #F0F2F5;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .employee-wrapper {
        margin-left: 0;
        width: 100%;
    }

    .mobile-icons {
        display: flex;
    }
}