
.sidebar-icons {
    background-color: #F0F2F5;
    height: 100vh;
    width: 8%;
    position: fixed;
    top:0;
    right: 0;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #000;
    transition: all .5s ease;
}
a:hover {
    text-decoration: none;
    color: #DC3545;
}

.sidebar-icons ul li {
    list-style: none;
    display: block;
    padding: 1.2rem 2rem 1rem 1rem;
    text-align: center;
    transition: all .5s ease;
    font-weight: bold;
}

.employee-side-bar {
    display: flex;
    align-items: stretch;
}

.sidebar-icons ul li:hover {
    color: #DC3545;
    cursor: pointer;
}

.sidebar-icons ul li span {
    display: block;
    padding-top: .3rem;
}

.logout {
    position: absolute;
    bottom: 1rem;
}